/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* --------------------------*/
/* GLOBAL BACKGROUND STYLE   */
/* --------------------------*/
.goal-page,
.fitness-page,
.profile-page {
  min-height: 100vh;
  background: url('../src/assets/profile-update-pic.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}


/* --------------------------*/
/* OVERLAY                   */
/* --------------------------*/


.goal-page::before,
.fitness-page::before,
.profile-page::before {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
}


/* --------------------------*/
/* CARD CONTAINER            */
/* --------------------------*/
.selection-card {
  position: relative;
  z-index: 2;
  background: rgba(255,255,255,0.08);
  padding: 40px;
  border-radius: 15px;
  width: 500px;
  color: white;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
}

/* --------------------------*/
/* HEADINGS                  */
/* --------------------------*/

.selection-card h1 {
  font-size: 2em;
  margin-bottom: 25px;
  font-weight: 700;
}

/* --------------------------*/
/* SELECTIONS                */
/* --------------------------*/

.selection-card select,
.selection-card input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1 rem;
}

/* --------------------------*/
/* BUTTONS                   */
/* --------------------------*/

.main-btn {
  width: 80%;
  padding: 12px;
  background: linear-gradient(to right #fff, #ff4b4b, #ff7373);
  border: none;
  color: rgb(241, 188, 188); 
  font-size: 1.1rem;
  border-radius: 8px;
  cursor:pointer;
  margin-top: 15px;
  transition: 0.3 ease;
}

.main-btn:hover {
  background: linear-gradient(to right, #ff7373, #ff4b4b );
  transform: scale(1.04);
}

/* --------------------------*/
/* MOBILE                    */
/* --------------------------*/


@media (max-width: 600px) {
  .selection-card {
    width: 90%;
    padding: 25px;
  }
}